<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student details</title>

    <style>
        th,td{
            padding: 5px;
            border: 1px black solid;
        }
    </style>
</head>
<body>
        <h1>Student page</h1>
        {% if stu %}

        <table>
                <tr>
                    <th>Id</th>
                    <th>student name</th>
                    <th>student email</th>
                    <th>student pass</th>
                    <th>Edit</th>
                </tr>

                {% for st in stu%}
                <tr>
                    <td> {{st.id}}</td>
                    <td>{{st.name}}</td>
                    <td>{{st.email}}</td>
                    <td>{{st.password}}</td>
                    <td> <a href= "{%url 'editstu' st.id %}">  Edit </a></td>
                
                </tr>
                {% endfor %}
        </table> 
        {%else%}
            <h1>No data</h1>

        {%endif%}
</body>
</html>