<!DOCTYPE html>
{%load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{%static 'course/css/style.css'%}">
</head>
 <body>
<!--            
    
        VARIABLE AND FILTER
        <h5>{{try|default:"nothing"}}</h5>
            <h1>Course name : {{name | capfirst}} , Duration : {{duration}} </h1>
            <h4>{{ name | length }}</h4>
            <h4>{{name | upper}}</h4>
            <h4>{{name|slice:'4:8'}}</h4>
            <h4>{{name |truncatechars:3}}</h4>
            <h4>{{name |truncatewords:2}}</h4>

            <h1>Date and time</h1>
            <p>{{ d|date:"D d M Y"}}</p>
            <p>{{ d|time:"H:i"}}</p>
            <p>{{d| time:"SHORT_DATE_FORMAT"}}</p>
            <p>{{d| time:"TIME_FORMAT"}}</p>


            <h1>Float</h1>
            <h3>Example 5.1</h3>
            <h3>{{fl}}</h3>

            <h3>Example 5.2</h3>
            <h3>{{fl|floatformat}}</h3>

            <h3>Example 5.3</h3>
            <h3>{{fl|floatformat:3}}</h3>

            <h3>Example 5.4</h3>
            <h3>{{fl|floatformat:0}}</h3>

            <h3>Example 5.5</h3>
            <h3>{{fl|floatformat:-3}}</h3> 
            -->

<!-- 
            if and else ,.....it also have elif 
            {% if nm %}
                <h3>Hello {{nm}}</h3>
            {%else%}
                <h3>Bye</h3>
            {%endif %}


            {%if nm  and st %}
            <h3>{{nm}} {{st}} is here , hello guys</h3>
            {%else%}
            <h3>Hi world</h3>
            {%endif%}


            {%if nm|length >= 5 and st == 5 %}
            <h3>length is greater thann  5</h3>
            {%else%}
            <h3>length is smaller than 5 </h3>
            {%endif%} 
            
            -->
            
            <!--
            
                    for loops 
            
            {% for nm in name %}
            {{nm}}<br>
            {%endfor%}

            <hr>
            {% for nm in name reversed%}
            {{nm}}<br>
            {%endfor%}

            <hr>
            {% for nm in name reversed%}
            {{nm}}<br>
            {%empty%}
                <p>this will run when there no values for reversed no </p>
            {%endfor%}

                <hr>

            {% for nm in name reversed%}
            {{forloop.counter}}{{nm}}<br>
            {%endfor%} -->

<!-- 
            {% for key , value in student.items %}
            <h5>{{key}} , {{value}}</h5>
            {% for k , v in value.items %}
                {{forloop.parentloop.counter}} {{k}} = {{v}}
            {%endfor%}
            {%endfor%} 
            
            
            -->



            <h1>Hello world</h1>
            <img src="{% static 'images/Shrek.jpeg'  %}" alt="">
            <img src="{% get_static_prefix %}images/Google.jpeg" alt="">


</body>
</html>