{%load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%} {%endblock title%}</title>
   {% block corecss %} 
   <link rel="stylesheet" href="{% static 'core/css/style.css' %}"/>
   {% endblock corecss %}
</head>
<body>
    <nav>
        <ul>
            <li><a href="{%url 'Home' %}">Home</a></li>
            <li><a href="{%url 'Aboutus' %}">About us</a></li>
            <li><a href="{%url 'learn_django'%}">Course</a></li>
        </ul>
    </nav>

    {%block content %} {%endblock content%}
 </body>
</html>